@keyframes fall {
    0% {
        top: 0;
    }
    100% {
        top: var(--target-top, calc(100% - 150px));
    }
}

@keyframes cowJump {
    0% {
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(2) scaleX(1.2);
    }
    50% {
        transform: scaleY(3);
    }
    75% {
        transform: scaleY(1.5) scaleX(1.5);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes cowJumpLeft {
    0% {
        transform: scaleX(-1) scaleY(1);
    }
    25% {
        transform: scaleX(-1) scaleY(1.5) scaleX(1.5);
    }
    50% {
        transform: scaleX(-1) scaleY(3);
    }
    75% {
        transform: scaleX(-1) scaleY(2) scaleX(1.2);
    }
    100% {
        transform: scaleX(-1) scaleY(1);
    }
}
@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}